.cards{
  border-style: solid;
  border-color: red;
  border-width: 2px;
  width: 20%;
  margin: 5%;
  padding: 2%;
}

.allclass{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.money{
  color:green;
}

.forma{
  margin: 6%;
}

.mess{
  margin-top: 2%;
  margin-bottom: 2%;
}

#chat{
  border-style: solid;
  border-color: red;
  border-width: 2px;
  margin: 3%;
  width: 12%;
  padding: 2%;
}